#sname {

    margin-top: 100px;
    margin-bottom: 100px;
    color: black;

}

#sname a {

    font-weight: bold;
    font-size: 3em;
    transition: all 250ms;

}
    
#sname a:hover {

    font-size: 75px;
    font-size-adjust: 15px;
    color: blue;

}

img {

	width: 150px;
	height: 150px;

}

.enlarge:hover {

	width: 200px;
	height: 200px;

}
